#modulo-disenyadoinmovilla-1 {
    padding: 15px 0;
    justify-content: center;
    align-items: center;
    color: #333;
    display: block;
    width: auto;
    margin: auto;
}

#modulo-disenyadoinmovilla-1 a {
    color: #000000;
}